[server default]
manager_workdir=/etc/mha/
manager_log=/etc/mha/manager.log
master_ip_failover_script=/etc/mha/master_ip_failover

ssh_user=root
ssh_port=22

repl_user=repluser
repl_password=1234

user=root
password=1234

[server1]
hostname=192.168.1.41
candidate_master=1

[server2]
hostname=192.168.1.42
candidate_master=1

[server3]
hostname=192.168.1.43
candidate_master=1

[server4]
hostname=192.168.1.44
no_master=1

[server5]
hostname=192.168.1.45
no_master=1


[server6]
hostname=192.168.1.46
no_master=1
